<?xml version="1.0"?>
<!-- Copyright 2026 gazebo-sim-tutorial-kr contributors (Apache-2.0) -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    Gazebo Classic 11의 native wideanglecamera와 equidistant 렌즈를 사용한다.
    ROS CameraInfo는 여전히 pinhole/plumb_bob 형식이므로 정밀 보정값으로 사용하지 않는다.
  -->
  <xacro:macro
    name="gazebo_fisheye_camera"
    params="prefix parent xyz rpy:='0 0 0' ros_namespace:='/' camera_name:='fisheye' update_rate:=10.0 width:=320 height:=240 horizontal_fov:=3.1415926535 near:=0.05 far:=30.0 lens_type:='equidistant' cutoff_angle:=1.5707 env_texture_size:=512 visualize:=true">
    <xacro:sensor_mount_box
      link_name="${prefix}_link" parent="${parent}" xyz="${xyz}" rpy="${rpy}"
      size_x="0.06" size_y="0.06" size_z="0.05" color="sensor_green"/>
    <xacro:sensor_optical_frame frame_name="${prefix}_optical_frame" parent="${prefix}_link"/>

    <gazebo reference="${prefix}_link">
      <sensor name="${prefix}_sensor" type="wideanglecamera">
        <always_on>true</always_on>
        <visualize>${visualize}</visualize>
        <update_rate>${update_rate}</update_rate>
        <camera name="${camera_name}">
          <horizontal_fov>${horizontal_fov}</horizontal_fov>
          <image><width>${width}</width><height>${height}</height><format>R8G8B8</format></image>
          <clip><near>${near}</near><far>${far}</far></clip>
          <lens>
            <type>${lens_type}</type>
            <scale_to_hfov>true</scale_to_hfov>
            <cutoff_angle>${cutoff_angle}</cutoff_angle>
            <env_texture_size>${env_texture_size}</env_texture_size>
          </lens>
        </camera>
        <plugin name="${prefix}_ros" filename="libgazebo_ros_camera.so">
          <ros><namespace>${ros_namespace}</namespace></ros>
          <camera_name>${camera_name}</camera_name>
          <frame_name>${prefix}_optical_frame</frame_name>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
