<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <!--Add Left Camera Link-->
    <joint name="left_camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="left_camera_link"/>
        <origin xyz="0.2 0.1 0.1" rpy="0 0 0"/>
    </joint>

    <link name="left_camera_link">
        <visual>
            <geometry>
                <box size="0.010 0.03 0.03"/>
            </geometry>
            <material name="blue"/>
        </visual>
    </link>

    <joint name="left_camera_optical_joint" type="fixed">
        <parent link="left_camera_link"/>
        <child link="left_camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="left_camera_link_optical"/>

    <!--Add Multi Camera Plugin-->
    <gazebo reference="left_camera_link">
        <material>Gazebo/Blue</material>
        <sensor name="camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>B8G8R8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <distortion>
                    <k1>0.0</k1>
                    <k2>0.0</k2>
                    <k3>0.0</k3>
                    <p1>0.0</p1>
                    <p2>0.0</p2>
                    <center>0.5 0.5</center>
                </distortion>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin name="left_camera_controller" filename="libgazebo_ros_camera.so">
                <ros>
                    <namespace>left_camera</namespace>
                    <remapping>camera_info:=left_camera/camera_info</remapping>
                    <remapping>image_raw:=left_camera/image_raw</remapping>
                </ros>
                <frame_name>left_camera_link_optical</frame_name>
                <updateRate>30.0</updateRate>
            </plugin>
        </sensor>
    </gazebo>
</robot>

