<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_name">
    <!-- STEP 10 - Lidar -->
    <joint type="fixed" name="scan_joint">
        <origin xyz="0 0 0.48" rpy="0 0 0"/>
        <child link="scan_link"/>
        <parent link="base_link"/>
        <axis xyz="0 1 0" rpy="0 0 0"/>
    </joint>

    <link name='scan_link'>
        <xacro:inertial_box mass="1e-5" x=".1" y=".1" z=".1">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
        <collision name='collision'>
            <origin xyz="0 0 0" rpy="0 0 0"/> 
            <geometry>
                <box size=".1 .1 .1"/>
            </geometry>
        </collision>

        <visual name='scan_link_visual'>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size=".1 .1 .1"/>
            </geometry>
        </visual>
    </link>

  <gazebo reference="scan_link">
    <sensor name="gpu_lidar" type="gpu_lidar">
      <update_rate>10</update_rate>
      <topic>scan</topic>
      <gz_frame_id>scan_link</gz_frame_id>
      <lidar>
        <scan>
          <horizontal>
            <samples>720</samples>
            <!--(max_angle-min_angle)/samples * resolution -->
            <resolution>1</resolution>
            <min_angle>-3.14156</min_angle>
            <max_angle>3.14156</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.05</min>
          <max>10.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
        </noise>
      </lidar>
      <always_on>1</always_on>
      <visualize>true</visualize>
    </sensor>
  </gazebo>
</robot>
